*{
    font-family: lemon milk;
}

.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fd8d71;
    color: #ffdca2;
    border-radius: 0px 0px 20px 20px;
}

.select{
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #f7f0c6;
}

.select:hover{
    cursor: pointer;
}

body{
    background-color: #ffdca2;
}

.select-color{
    position: absolute;
    top: 10px;
    right: 20px;
}

.input-container{
    color: #c73866;
    font-size: 15px;
    font-weight: 500;
    margin: 10px;
    background-color: #ffbd71;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 24%;
    padding: 20px 20px;
    border-radius: 20px;
    float: left;
    box-shadow: 0 15px 40px -20px #fe676e;
}

.produto-label{
    margin: 0 0 10px 10px;
}

.preço-label{
    margin: 10px;
}

.produto-input{
    background-color: #f7f0c6;
    min-width: 90%;
    min-height: 20px;
    border: none;
    padding: 8px;
    border-radius: 3px
}

.produto-input::placeholder{
    color: #f1ce95;
}

.preço-input::placeholder{
    color: #f1ce95;
}

.preço-input{
    background-color: #f7f0c6;
    min-width: 90%;
    min-height: 20px;
    border: none;
    padding: 8px;
    border-radius: 3px
}

.prioridade-checkbox{
    width: 20px;
    height: 20px;
}

.normal-checkbox{
    width: 20px;
    height: 20px;
}

.add-button{
    color: #fe676e;
    background-color: #f7f0c6;
    font-size: 15px;
    font-weight: 600;
    min-width: 90%;
    min-height: 20px;
    margin-top: 25px;
    border: none;
    padding: 8px;
    transition: all 0.4s;
    border-radius: 3px
}

.add-button:hover{
    background-color: #fe676e;
    color: #f7f0c6;
    cursor: pointer;
}

svg{
    fill: #5d7599;
}

.list-container{
    color: #fe676e;
    background-color: #ffbd71;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    float: right;
    margin: 10px;
    border-radius: 20px;
}

.checkboxes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.priority{
    justify-self: start;
    width: 300px;
    margin: 5px 20px;
}

.not-bought{
    justify-self: center;
    width: 300px;
    margin: 5px 20px;
}

.bought{
    justify-self: end;
    margin: 5px 20px;
    width: 300px;
}

.item-list{
    list-style-type: none;
    width: 90%;
    padding: 0;
}

li{
    background-color: #f7f0c6;
    color: #c73866;
    padding: 5px;
    padding-left: 15px;
    border-radius: 3px;
    width: 90%;
    margin-bottom: 10px;
}

.edit-button{
    color: #fe676e;
    background-color: #f7f0c6;
    border: #fe676e 3px;
    font-size: 14px;
    font-weight: 500;
    padding: 7px;
    border-radius: 3px;
    margin: 0 5px;
    transition: all 0.4s;
}

.edit-button:hover{
    color: #f7f0c6;
    background-color: #fe676e;
    cursor: pointer;
}

.remove-button{
    color: #fe676e;
    background-color: #f7f0c6;
    border: #fe676e 3px;
    font-size: 14px;
    font-weight: 500;
    padding: 7px;
    border-radius: 3px;
    margin: 0 5px;
    transition: all 0.4s;
}

.remove-button:hover{
    color: #f7f0c6;
    background-color: #fe676e;
    cursor: pointer;
}