*{
    font-family: lemon milk;
}

.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fd8d71;
    color: #ffdca2;
    border-radius: 0px 0px 20px 20px;
}

body{
    background-color: #ffdca2;
}

.theme-select{
    position: absolute;
    top: 10px;
    right: 20px;
}

.input-container{
    color: #fe676e;
    margin: 10px;
    background-color: #ffbd71;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 30%;
    padding: 20px 15px;
    border-radius: 20px;
    float: left;
    box-shadow: 0 15px 40px -20px #fe676e;
}

.produto-input{
    background-color: #f7f0c6;
    min-width: 90%;
    min-height: 20px;
    border: none;
    padding: 8px;
    border-radius: 3px
}

.preço-input{
    background-color: #f7f0c6;
    min-width: 90%;
    min-height: 20px;
    border: none;
    padding: 8px;
    border-radius: 3px
}

.prioridade-checkbox{
    width: 20px;
    height: 20px;
}

.normal-checkbox{
    width: 20px;
    height: 20px;
}

.add-button{
    color: #fe676e;
    background-color: #f7f0c6;
    min-width: 90%;
    min-height: 20px;
    border: none;
    padding: 8px;
    border-radius: 3px
}

svg{
    fill: #5d7599;
}

.list-container{
    color: #fe676e;
    background-color: #ffbd71;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    float: right;
    margin: 10px;
    border-radius: 20px;
}

.checkboxes{
    flex-direction: row;
    align-items: center;
}

.priority{
    width: 33,3%;
    margin: 5px 20px 5px 20px;
}

.not-bought{
    width: 33,3%;
    margin: 5px 20px 5px 20px;
}

.bought{
    margin: 5px 20px 5px 20px;
    width: 33,3%;
    margin: 5px 20px 5px 20px;
}